################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstate/.vs/RealEstate
/RealEstate/RealEstate/bin/Debug/netcoreapp3.1
/RealEstate/RealEstate/obj
