<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/js/all.js"></script>
    </environment>

    <environment exclude="Development">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/js/all.js"></script>
    </environment>

    

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">

    <link href="~/css/Style.css" rel="stylesheet" />
    <link href="~/css/customers.css" rel="stylesheet" />
</head>
<body>

    <div class="mb-5">
        <!-- navbar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <!-- Brand -->
            <a class="navbar-brand text-uppercase" asp-controller="Home" asp-action="Index">
                alsagheer real estate
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <partial name="_LoginInfo" />
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link text-capitalize text-light nav-text" asp-controller="Home" asp-action="Index">main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-capitalize text-light" asp-controller="Customers" asp-action="GetAllCustomers">
                            <i class="fas fa-users fa-2x text-warning"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-capitalize text-light" asp-controller="Deals" asp-action="GetAllDeals">
                            <i class="fas fa-handshake fa-2x hand-color"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-capitalize text-light" asp-controller="Properties" asp-action="GetAllProperties">
                            <i class="fas fa-home fa-2x text-info"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end of links -->
        </nav>
        <!-- end of navbar -->
    </div>

    <div>
        @RenderBody()
    </div>


    <environment include="Development">
        @* Change these to the non-min version *@
        <script src="~/lib/jquery/jquery.js"></script>
        @*<script src="~/js/jquery-3.5.1.min.js"></script>*@
        <script src="~/js/bootstrap.bundle.min.js"></script>
        @* For Forms Client-Side Validations *@
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment exclude="Development">
        <!-- jquery -->
        <script src="~/js/jquery-3.5.1.min.js"></script>
        <!-- bootstrap js -->
        <script src="~/js/bootstrap.bundle.min.js"></script>
        @* For Forms Client-Side Validations *@
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
